/* hero */
.hero {
  padding-top: 2em;
  margin-bottom: 3em;
}

.hero__profile-pic {
  width: 180px;
  height: 180px;
  margin: 1.5em 0;
  border-radius: 50%;
}

.hero__title {
  margin-bottom: 1em;
  width: 80vw;
}

@media (min-width: 1024px) {
  .hero {
    display: flex;
    align-items: center;
    column-gap: 2em;
  }

  .hero__title,
  .hero__text {
    width: 80%;
  }

  .hero__title {
    margin-bottom: 0.375em;
  }
}

@media (min-width: 1280px) {
  .hero {
    padding-left: 3em;
    padding-right: 3em;
  }
}